body{
    margin:0;
    color:white;
}
#main{
    display: flex;
    height:100vh;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}
ul{
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Spectral SC', serif;
    color:#3579e8;
    padding: 0;
    margin: 0 0;
}
*{
    -webkit-transition: display 1  ;
    -moz-transition: display 1  ;
    transition: display 1  ;
}
#left-nav li {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    flex:3;
    padding-right:3px; 
}
#right-nav li{
    font-size: 20px;
    font-weight: 700;
    flex:3;    
    padding-left:3px;
}

#left-nav li:hover, #right-nav li:hover{
    cursor: url('select.cur'),pointer;
    color:white;
}
#left-nav, #right-nav{
    flex:1;
}
#content{
    flex:5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#content canvas{
    flex:6;
    width: 80%;
}
.open1, .open2{
    display: flex;
    align-items: center;
}
.open1 span, .open2 span{
    font-size: 2rem;
    cursor: pointer;
    color:white;
    background: linear-gradient(0deg, #2029FF 0%, #1473FF 30%, #1473FF 70%, #2029FF 100%);
}
.open1 span:hover, .open2 span:hover{
    cursor: pointer;
    color:white;
    background:linear-gradient(0deg, grey  0%, black 30%, black 70%, grey 100%);
}
#left-nav, #right-nav, #content,.open1,.open2{
    border: 2px solid yellowgreen;
    background: black;
    cursor:url('arrow.cur'),auto;
}